<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cainiao.basicslibrary">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <activity android:name=".chapter_eight.ChapterEightActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".chapter_nine.ChapterNineActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".chapter_nine.thread.ThreadActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".chapter_nine.thread_pool.ThreadPoolActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".chapter_nine.asynctask.AsyncTaskActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
    </application>

</manifest>